#events {
  padding: 40px;
  background-color: rgba(8, 8, 8, 0.8);
  color: white;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 40px auto;
  background-color: rgba(8, 8, 8, 0.9);
  color: white;
  padding: 30px;
  border-radius: 10px;
}

input,
textarea {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event-card {
  background-color: #222;
  padding: 15px;
  border-radius: 5px;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
